* {
	font-family: 'Roboto', sans-serif;
	box-sizing: border-box;
}

body, html {
	background-color: #13191c;
	margin: 0;
	padding: 0;
}

#header {
	color: white;
	text-align: center;
	margin: 40px auto;
	display: block;
	width: 90%;
	max-width: 500px;
}

.fighterSlot {
	position: relative;
	background-color: #fff;
	text-align: left;
	border: none;
	margin: auto;
	width: 100%;
	height: 40px;
	margin: 5px 0;
	font-size: 24px;
	padding: 5px 10px;
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
	border-radius: 3px;
	z-index: 1;
	transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.fighterSlot:focus, .fighterSlot:focus:hover {
	box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
	outline: none;
	z-index: 2;
	width: calc(100% + 20px);
	margin-left: -10px;
}

.fighterSlot:hover {
	box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

#dojoForm {
	box-sizing: border-box;
	padding: 20px 30px 30px 30px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 60px;
	width: 80%;
	text-align: center;
	background-color: #263238;
	box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
	border-radius: 3px;
	max-width: 600px;
}

#submitButton {
	cursor: pointer;
	font-weight: 900;
	color: #ffffff;
	font-size: 30px;
	border: none;
	margin-top: 20px;
	height: 50px;
	padding: 5px 20px;
	background-color: #fff4;
	border-radius: 3px;
	box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
	transition: box-shadow 0.3s cubic-bezier(.25,.8,.25,1);
}

#submitButton:hover {
	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

#addFighterButton {
	position: relative;
	font-weight: 900;
	text-align: center;
	color: white;
	background-color: #2196f3;
	cursor: pointer;
	overflow: hidden;
}

#titleField {
	color: #fff;
	font-weight: 900;
	text-align: left;
	font-size: 60px;
	background-color: transparent;
	width: 100%;
	border: none;
}

#titleField:focus {
	outline: none;
}

#titleField:focus ~ #titleUnderline {
	width: 100%;
	background-color: #2196f3;
	transition: background-color 0s;
	transition: width 200ms ease-in;
}

#titleField:focus:after ~ #titleUnderline {
	width: 0;
	background-color: #2196f3;
}

::placeholder {
	color: #fff;
	opacity: 0.4;
	font-size: 60px;
}

#titleUnderline {
	height: 4px;
	width: 0;
	background-color: transparent;
	transition: background-color 0s;
	transition: width 200ms cubic-bezier(.25,.8,.25,1);
	margin-top: 1px;
	margin-bottom: 5px;
}
